.container {
  display: grid;
  grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.4fr;
  grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr 0.4fr;
  grid-auto-columns: 1fr;
  gap: 2px 3px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header header header header header header header header right-bar"
    "left-bar cinco cinco cinco seis seis visor visor visor visor visor visor right-bar"
    "left-bar cinco cinco cinco siete ocho visor visor visor visor visor visor right-bar"
    "left-bar selector selector selector selector selector visor visor visor visor visor visor right-bar"
    "left-bar selector selector selector selector selector visor visor visor visor visor visor right-bar"
    "left-bar selector selector selector selector selector visor visor visor visor visor visor right-bar"
    "footer footer footer footer footer footer footer footer footer footer footer footer footer";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.left-bar {
  grid-area: left-bar;
}

.right-bar {
  grid-area: right-bar;
}

.visor {
  grid-area: visor;
}

.selector {
  grid-area: selector;
}

.cinco {
  grid-area: cinco;
}

.seis {
  grid-area: seis;
}

.siete {
  grid-area: siete;
}

.ocho {
  grid-area: ocho;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}

.container * {
  border: 1px solid red;
  position: relative;
}
