<div class="container">
  <div class="header"></div>
  <div class="footer"></div>
  <div class="left-bar">
    <app-left-bar></app-left-bar>
  </div>
  <div class="right-bar"></div>
  <div class="visor"></div>
  <div class="selector">
    <h1>
      {{ home[0].name }}
      {{ home[0].lastName }}
    </h1>
  </div>
  <div class="cinco"></div>
  <div class="seis"></div>
  <div class="siete"></div>
  <div class="ocho"></div>
  <div class="full">
    <h2>{{ home[0].title }}</h2>
    <p>{{ home[0].cap }}</p>
  </div>
  <div class="stack">
    <h2>{{ home[0].title2 }}</h2>
    <p>{{ home[0].cap2 }}</p>
  </div>
</div>
